{% load static %}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'index/donation.css' %}">
        <title>Amets - Donation</title>

    </head>
    <body>

        <img src="{% static 'index/images/imami_background.png' %}">

        <a href="https://paypal.me/KOALA11y?country.x=MA&locale.x=fr_XC" style="text-decoration: none;" target="blank">
            <p id="text">
                <span id="span_0">Do</span><span id="span_1">na</span><span id="span_2">te</span><span id="span_3">, pw</span><span id="span_4">ea</span><span id="span_5">se</span><span id="span_6"> UwU</span>
            </p>
        </a>

    </body>
</html>