{% load static %}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'index/resources.css' %}">
        <script defer src="{% static 'index/language.js' %}"></script>
        <title>Amets - Resources</title>

    </head>
    <body>

        <div id="nav_bar">
            <a id="logo" href="{% url 'index:home' %}">Amets</a>
            <div id="user_block">

                {% if user.is_authenticated %}
                
                    <a href="{% url 'index:profile' user.username %}">
                        <img id="avatar_icon" src="{% static user.profile.profile_avatar %}" alt="Avatar icon" width="45.2" height="48">
                    </a>

                    <a id="username" href="{% url 'index:profile' user.username %}">@{{user.username}}</a>
                {% else %}
                    <a id="sign_in" href="{% url 'index:sign_in' %}">Sign in</a>
                {% endif %}

            </div>
            <img id="language_icon" src="{% static 'index/images/language_icon.png' %}" alt="Language icon" width="56" height="56" onclick="select()">
        </div>

        <div id="main_panel">

            <div id="resources_panel">

                <label class="type_label">History</label>
                {% if H_list %}
                    {% for resource in H_list %}
                        <a class="resource_link" href="{% url 'index:download' resource.id %}" target="blank">{{resource.resource_title}}</a>
                    {% endfor %}
                {% else %}
                    <span class="unavailable">We currently have no resources for this genre.</span>
                {% endif %}

                <label class="type_label">Technology</label>
                {% if T_list %}
                    {% for resource in T_list %}
                        <a class="resource_link" href="{% url 'index:download' resource.id %}" target="blank">{{resource.resource_title}}</a>
                    {% endfor %}
                {% else %}
                    <span class="unavailable">We currently have no resources for this genre.</span>
                {% endif %}

                <label class="type_label">Science</label>
                {% if S_list %}
                    {% for resource in S_list %}
                        <a class="resource_link" href="{% url 'index:download' resource.id %}" target="blank">{{resource.resource_title}}</a>
                    {% endfor %}
                {% else %}
                    <span class="unavailable">We currently have no resources for this genre.</span>
                {% endif %}

                <label class="type_label">Novel</label>
                {% if N_list %}
                    {% for resource in N_list %}
                        <a class="resource_link" href="{% url 'index:download' resource.id %}" target="blank">{{resource.resource_title}}</a>
                    {% endfor %}
                {% else %}
                    <span class="unavailable">We currently have no resources for this genre.</span>
                {% endif %}

                <label class="type_label">Article</label>
                {% if A_list %}
                    {% for resource in A_list %}
                        <a class="resource_link" href="{% url 'index:download' resource.id %}" target="blank">{{resource.resource_title}}</a>
                    {% endfor %}
                {% else %}
                    <span class="unavailable">We currently have no resources for this genre.</span>
                {% endif %}

                <label class="type_label">General</label>
                {% if G_list %}
                    {% for resource in G_list %}
                        <a class="resource_link" href="{% url 'index:download' resource.id %}" target="blank">{{resource.resource_title}}</a>
                    {% endfor %}
                {% else %}
                    <span class="unavailable">We currently have no resources for this genre.</span>
                {% endif %}

                <span id="last_label"></span>

            </div>
 
            <div id="side_panel">
                <div id="language_panel">
                    <ul>
                        <li style="font-size: 12px; font-weight: bolder;">NOT YET WORKING</li>
                        <li>All <span style="font-size: 18px;">(English)</span></li>
                        <li>English</li>
                        <li>Deutsch</li>
                        <li>Français</li>
                    </ul>
                </div>

                <a href="{% url 'index:home' %}">Home</a>

                <a href="{% url 'index:feed' %}">Feed</a>

                {% if user.is_authenticated %}
                    <a href="{% url 'index:exercises' %}">Exercises</a>

                    <a href="{% url 'index:exams' %}">Exams</a>

                    <a id="resources_side_link" href="{% url 'index:resources' %}">Resources</a>
                {% endif %}
            </div>

        </div>

    </body>
</html>
