{% load static %}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'index/use_conditions.css' %}">
        <title>Amets - Use conditions</title>

    </head>
    <body>

        <div id="panel">
            <a id="home_link" href="{% url 'index:home' %}"> 
                <img id="home_icon" src="{% static 'index/images/home_icon.png' %}" alt="Home icon" width="56" height="56">
            </a>

            <p id="title">Use conditions</p>

            <hr id="line">

            <p id="header">© Copyright Amets .inc. 2022. All rights reserved. Reproduction, adaptation, or translation without
            permission is totally fine. Some of the text, graphics, design, content, and other works were yeeted 
            out from other websites, feel free to do the same. The following is <span id="legal">NOT</span> meant to be taken seriously.
            </p>

            <ul id="list">
                <li>TERMS AND CONDITIONS OF USE:</li>
                <p class="detail">Welcome to the corporate website of Amets .inc. Use of this site is
                    governed by the Terms and Conditions set forth. PLEASE READ THESE TERMS AND CONDITIONS
                    CAREFULLY BEFORE USING THIS WEBSITE. The information and materials provided by Amets
                    may be used for informational purposes only. By using, accessing or downloading materials from this
                    website you agree to follow the terms and provisions as outlined in this legal notice, which apply to all
                    visits to the Amets website, both now and in the future. Amets may at anytime revise and
                    update the Terms and Conditions. You are encouraged to periodically visit this page to review the most
                    current Terms and Conditions to which you are bound. If you do not agree to these Terms and Condition
                    of Use, please do not use this website.</p>
                <li>RESTRICTIONS</li>
                <p class="detail">You may view, download and copy information and materials available on this website solely for your
                    personal, non-commercial use. You may also use such material within your organization in connection
                    with the support of Amets's products. As a condition of use, you agree not to modify or revise any
                    of the material in any manner, and to retain all copyright and other proprietary notices as contained in the
                    original materials on any copies of the materials. No other use of the materials or information is
                    authorized. Any violation of the foregoing may result in civil and/or criminal liabilities.</p>
                <li>OWNERSHIP OF INFORMATION AND MATERIALS:</li>
                <p class="detail">The information and any materials (including white papers, press releases, data sheets, product
                    descriptions, and FAQs (which does not exist)) available on or from this website are the copyrighted works of Amets, and
                    any unauthorized use of that information or materials may violate copyright, trademark and other laws.
                    Any rights not expressly granted herein are reserved.</p>
                <li>TRADEMARK INFORMATION:</li>
                <p class="detail">Amets's trademarks may be used only with written permission from yourself are registered trademarks or trademarks of Amets. All other
                    trademarks, brands, and names are the property of their respective owners. Except as expressly
                    specified in these terms and legal restrictions, nothing contained herein shall be construed as conferring
                    by implication, estoppel or otherwise any license or right under any patent, trademark, copyright or any
                    proprietary rights of Amets or any third party.</p>
                <li>LINKS TO OTHER WEBSITES:</li>
                <p class="detail">As a convenience and to make the Amets website truly service oriented we have included links to
                    complementary sites on the Internet. These sites are owned and operated by third parties. Amets
                    makes no representation and is not responsible for the availability of, or content located on or through.</p>
            </ul>

        </div>


    </body>
</html>