* {
    margin: 0;
    padding: 0;
    
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(5, 5, 5);
}

:link {
    text-decoration: none;
}

body {
    background-color: rgb(240, 242, 245);

    display: flex;
    flex-flow: column nowrap;
}

#main {
    background-color: rgb(255, 255, 255);

    border-color: rgb(225, 227, 230);
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;

    margin: 32px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start; 
}









#exercise_container {
    margin: 10%;

    padding: 8px;

    width: 76.5vw;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    background-color: rgb(255, 255, 255);
    
    border-color: rgb(225, 227, 230);
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
}

#exercise_header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;  
    justify-content: space-evenly;  

    width: 78vw;
}

#time_label {
    white-space: nowrap;

    font-size: x-large;    
}

#exercise_title {
    white-space: nowrap;

    font-size: x-large;
}

#exercise_line {
    width: 75%;

    margin-top: 3vh;
    margin-bottom: 3vh;

    margin-left: 12.5%;

    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, rgb(255, 255, 255), rgb(32, 32, 32), rgb(255, 255, 255));
    border-image-slice: 8%;
    border-radius: 25px;
}

#exercise_statement {
    font-size: larger;

    margin-bottom: 4vh;
    margin-right: auto;
    margin-left: 1vw;
}

#exercise_options {
    margin-left: 1vw;
    margin-bottom: 2vh;  
}

.exercise_documents {
    margin-top: 1vh;
    margin-bottom: 4vh;
}

.exercise_documents.audio {
    margin-bottom: 3vh;
    margin-left: 3vw;
}

.exercise_documents.image {
    max-width: 75vw;
    max-height: 75vw;
}

#exercise_question {
    margin-left: 1vw;
}

#exercise_questions {
    margin-left: 3vw;
}

#exercise_submit {
    margin-top: 1vh;

    cursor: pointer;

    background-color: rgb(240, 242, 245);

    border-style: solid;
    border-width: 2px;
    border-color: rgb(225, 227, 230);
    border-radius: 25px;

    padding: 1vh 2vw 1vh 2vw;

    font-size: large;
}















#panel {
    background-color: rgb(255, 255, 255);

    border-color: rgb(225, 227, 230);
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;

    margin: 32px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;    
}

#home_link {
    margin-right: auto;
    margin-left: 8px;
    margin-top: 8px;
}

#passed, #failed {
    font-size: 32px;
    margin-bottom: 1vh;
}

#passed {
    color: rgb(75, 181, 67);
}

#failed {
    color: rgb(252, 16, 13);
}

#line {
    width: 50%;

    margin-top: 2vh;

    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, rgb(255, 255, 255), rgb(32, 32, 32), rgb(255, 255, 255));
    border-image-slice: 8%;
    border-radius: 25px;
}

#header, #list {
    font-size: larger;
}

#header {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#sign_up_link {
    font-weight: bold;
}


